.login {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  flex: 2;
  justify-content: center;
  background-color: white;

  .left_div {
    background-color: white;
    flex: 1;
    height: 80vh;
    align-self: center;
    border: 1px solid red;
    margin-right: auto;
    .logo_div {
      // background-image: url(./);
      border: 1px solid purple;
      height: 69px;
      width: 69px;

    }
    .form_checkbox input:checked ~ .checkmark {
      background-color: #5138ee !important;
    }

    .left_div_text {
      margin-left: 100px;
   
    }
    .left_div_footer {
      text-transform: capitalize;
      margin-left: 100px;
    }
    .login_form {
      // background-color: green;
      width: 80%;
    }
    .not_reg {
      .not_reg_para {
        display: inline;
      }
      .not_reg_link {
        display: inline;
        margin-left: 5px;
        a {
          color: #5138ee;
        }
      }
    }
  }
  .right_div {
    background-image: url(./dash-right.png) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: 1;
  }
}
